@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  text-align: center;
}
// Portfolio area as a whole


// Black Video Boxes(Mobile)

.article__div--active{
    
img {
        border: 2px solid rgb(30, 174, 128);
        background-color: $color-black;
        border-radius: 100%;
        padding: 0.4rem;
        margin: 0.2rem;
        width: 2rem;
    }

.img__box {
    border: 2px solid orange;
    border-radius: 0%;
    height: 19rem;
    width: 25rem;
}

}

.article__div--deactive {
    
    // For desktop view 
    // display: none;

    img {
        border: 2px solid rgb(178, 223, 30);
        background-color: $color-black;
        border-radius: 100%;
        padding: 0.4rem;
        margin: 0.2rem;
        width: 2rem;
    }

    .img__box {
        border: 2px solid rgb(142, 46, 182);
        border-radius: 0%;
        height: 19rem;
        width: 25rem;
    }

}


// For the projects and symbols

.div__title {
    border: 2px solid purple;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
}
  

// Navigation Bar(Mobile)

.body__nav {
  border: 2px solid red;
  margin-bottom: 100px;
}

.nav__1 {
  border: 2px solid red;
}

.nav__2 {
  border: 2px solid red;
  display: none;
}

.nav__3 {
  border: 2px solid;
  display: none;
}

// Heading & Paragraphs fonts

h1 {
  font-family: $text-heading;
  font-size: 5rem;
  font-weight: lighter;
}

h2 {
  font-family: $text-heading;
  font-size: 2rem;
  font-weight: bolder;
}

h3 {
    font-family: $text-heading;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 2rem;
}

p {
  font: $text-primary;
  font-size: 0.5rem;
  color: $color-black;
  line-height: 2;
  border: 2px solid red;
  padding: 3rem;
}

// desktop components not needed for mobile

.main__div2 {
  border: 2px solid orange;
  display: none;
}
