@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Inter:wght@100&display=swap');

$text-heading: "Cormorant";
$text-primary: "Inter";

$color-black: #111315;
$color-white: #fff;


// $mobile-breakpoint: 320px;
// $tablet-breakpoint: 768px;
// $desktop-breakpoint: 1024px;
// $large-desktop-breakpoint: 1440px;
// $extra-large-desktop-breakpoint: 2560px;

